body{
    margin:0;
}
.pink{
    height: 50vh;
    background-color: lightpink;
    justify-content: center;
}
.blue{
    height: 50vh;
    background-color: #6879d0;
    justify-content: center;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: 1em;
    text-align: center;
    line-height: 20px;
}
h1{
    font-size: 40px;
}