h1{
    text-align: center;
    margin: 50px 0;
    font-size: 3vw;
}
h4{
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 0;
    margin-top: 40px;
    padding: 0 6vw;
}
h5{
    padding: 0 6vw;
    margin-top: 10px;
    text-align: left;
}
.flex{
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content:center;
    align-items: center;
}
.block{
    width: 25vw;
    margin: 15px;
    background-color: white;
    border: 3px solid green;
    border-radius: 5px;
    min-height:20vh ;
}
